
body {
    background-color: blue;
    width: 970px;
}
h1 {
    border: 1px solid;
    background-color: red;
}
.navigation {
    border: 1px solid;
    display: inline-block;
    background-color: cornflowerblue;
    vertical-align: top;
    display: inline-block;
    max-width: 200px;;
}
.main_article {
    border: 1px solid;
    display: inline-block;
    background-color: midnightblue;
    vertical-align: top;
    display: inline-block;
    width: 700px;
    margin-left: 61px;
}
footer {
    border: 1px solid;
    background-color: slategray;
    margin-top: 20px;
}