
body {
    background-color: blue;
    width: 970px;
    color: white;
}
body header h1 {
    background-color: red;
    border-radius: 15px;
    height: 50px;
    margin-bottom: 20px;
}
.navigation {
    display: inline-block;
    background-color: cornflowerblue;
    vertical-align: top;
    display: inline-block;
    max-width: 200px;
    border-radius: 15px;
}
.main_article {
    display: inline-block;
    background-color: midnightblue;
    vertical-align: top;
    display: inline-block;
    width: 700px;
    margin-left: 66px;
    border-radius: 15px;
}
body footer {
    background-color: slategray;
    border-radius: 15px;
    height: 45px;
    width: 970px;
}
